@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="bg-image section-ptb" style="background-image: url(/images/hero/hero-1.jpg)">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="hero-content text-left">
                            <h5>We Provide The Best</h5>
                            <h1>Security Service </h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a class="btn" asp-area="" asp-controller="Home" asp-action="ContactUs">get appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-service">
        <div class="container-fluid plr_-0">
            <div class="row no-gutters row-0">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="row-service-wrap">
                        <div class="service text-left service-6 medical-service">
                            <div class="icons">
                                <img src="/images/icon/service-01.png" alt="service icons">
                            </div>
                            <div class="content">
                                <h4>Webcam Security</h4>
                                <p>Lorem ipsum dolor sit amet conse adipisic elit, sed do eiusmod temp incididunt ut</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="row-service-wrap">
                        <div class="service text-left service-6 medical-service service-bg-2">
                            <div class="icons">
                                <img src="/images/icon/service-02.png" alt="service icons">
                            </div>
                            <div class="content">
                                <h4>Security Guard</h4>
                                <p>Lorem ipsum dolor sit amet conse adipisic elit, sed do eiusmod temp incididunt ut</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="row-service-wrap">
                        <div class="service text-left service-6 medical-service">
                            <div class="icons">
                                <img src="/images/icon/service-03.png" alt="service icons">
                            </div>
                            <div class="content">
                                <h4>Motivated Guards</h4>
                                <p>Lorem ipsum dolor sit amet conse adipisic elit, sed do eiusmod temp incididunt ut</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="row-service-wrap">
                        <div class="service text-left service-6 medical-service service-bg-2">
                            <div class="icons">
                                <img src="/images/icon/service-04.png" alt="service icons">
                            </div>
                            <div class="content">
                                <h4>24/7 Services</h4>
                                <p>Lorem ipsum dolor sit amet conse adipisic elit, sed do eiusmod temp incididunt ut</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-agency-benefit section-pt section-pb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="agency-benefits">
                        <div class="content">
                            <div class="section-title title-2">
                                <h2>We Have 21 Years of <br> Experience</h2>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmol tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimg veniam, quis nostrud exerci ullamco laboris nisi ut aliquip ex ea commo consequat. Duis aute irure dolor</p>

                            <p> in reprehen in voluptate velit esse cillum dolore eu fugiat nulla pariatur Excepteur sint occaecat cupidata non proident.</p>
                            <a href="#" class="btn contact-btn mt-30 btn-circle">CONTACT US</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="agency-thumb">
                        <div class="thumb">
                            <img src="/images/about/about-01.png" alt="Agency Images">
                            <div class="play-btn">
                                <a href="#"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="reapir-choose-us section-ptb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="reapir-choose-inner">
                        <div class="section-title title-2">
                            <h2>Why Choose Us</h2>
                        </div>
                        <div class="choose-resone-inner mt-20">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore</p>
                            <div class="service text-left service-6 reapir-service mt-30">
                                <div class="icons">
                                    <img src="/images/icon/c-01.png" alt="service icons">
                                </div>
                                <div class="content">
                                    <h4>Free Estimate</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipi elit sed do eiusmod tempor incididunt ut labor et dolore magna aliqua. </p>
                                </div>
                            </div>
                            <div class="service text-left service-6 reapir-service">
                                <div class="icons">
                                    <img src="/images/icon/c-02.png" alt="service icons">
                                </div>
                                <div class="content">
                                    <h4>24/7 Services</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipi elit sed do eiusmod tempor incididunt ut labor et dolore magna aliqua. </p>
                                </div>
                            </div>
                            <div class="service text-left service-6 reapir-service">
                                <div class="icons">
                                    <img src="/images/icon/c-03.png" alt="service icons">
                                </div>
                                <div class="content">
                                    <h4>Flat Rate Fees</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipi elit sed do eiusmod tempor incididunt ut labor et dolore magna aliqua. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="contact_form_container repair-request-form">
                        <div class="ct-title-2">
                            <h2>Request a Quote</h2>
                        </div>
                        <div class="repair-service-form">
                            <form action="#">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <input type="text" placeholder="Name*">
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" placeholder="Subject*">
                                    </div>
                                    <div class="col-lg-12">
                                        <textarea name="message" placeholder="Your Massage*"></textarea>
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="submit" value="Submit Inquiry">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-newsletter section-ptb bg_image bg-overlay">
        <div class="container">
            <div class="row newsletter-style-2 political-newsletter align-items-center">
                <div class="col-xl-6 col-lg-7 col-md-12 col-sm-12 col-12">
                    <div class="title">
                        <h4>Join Our volunteer </h4>
                        <h2>Subscribe Our Newsletter.</h2>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5 col-md-12 col-sm-12 col-12">
                    <form action="#">
                        <div class="input-box">
                            <input type="email" placeholder="Enter Your Email* ">
                            <button type="submit">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
